.portfolio {
    z-index: 1000;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    .items {
        top: 0;
        max-height: calc(100vh - 58.44px);
        overflow-x: hidden;
        margin-top: 12px;
        max-width: 100vw;
        gap: 10px;
        padding-bottom: 20px;
        .item {
            border-radius: 10px;
            overflow: hidden;
            background: #323233;
            padding: 0;
            box-shadow: .5px 1px 2px #000;
            transition: 0.1s ease-in-out transform;
            cursor: pointer;
            .detail {
                padding: 6px 10px;
                .project-name {
                    color: #fff;
                    width: fit-content;
                    display: flex;
                    align-items:center;
                    justify-content: center;
                    margin-top: 10px;
                    font-size: 20px;
                    font-weight: 500;
                }

                .desc {
                    font-size: 13px;
                    color: silver;
                    margin-top: 5px;
                }

                .desc::before {
                    display: flex;
                    content: '';
                    background: silver;
                    padding: .3px;
                    margin-bottom: 5px;
                }
            }
            .image{
                 width: 100%;
                 border-radius: 10px;
                 box-shadow: 0 2px 2px #000;
            }
        }
        .item:hover {
            transform: scale(1.08);
        }
    }
    // Modal
    .portfolio-modal {
        z-index: 2000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        backdrop-filter: blur(2px);

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            border-radius: 50%;
            padding: 3px;
            &:hover {
                background: rgba(255,255,255,0.2);;
            }
        }

        .row {
            max-height: calc(100vh - 44.64px);
            overflow-y: auto;
            max-width: 100vw;
            overflow-x: hidden;
            padding: 10px 20px;
            .title {
                width: fit-content;
                height: fit-content;
                display: flex;
                margin: auto;
                color: #fff;
            }

            .image {
                max-width: 100%;
                width: fit-content;
                display: flex;
                margin: auto;
                border-radius: 4px;
                box-shadow: .5px 1px 2px #000;
            }
            
            .table {
                padding: 10px;
                color: #fff;
                letter-spacing: 1px;
                border-color: dimgray;
                tr {
                    td:nth-child(1) {
                        color: silver;
                    }
                }

                .type {
                    color: #fff;
                    fill: #fff;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }


                .techs {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                .techs .tech {
                    background: rgba(0,0,0,0.4);
                    padding: 3px 10px;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                }

                .techs .tech::before {
                    display: flex;
                    content: '#';
                    margin-right: 5px;
                }
            }
        }
    }

    .modal-wrapper {
        z-index: 1500;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background: rgba(0,0,0,0.8);
        backdrop-filter: blur(2px);
    }
}